/* Setting the box-sizing property to all elements */

* {
    box-sizing: border-box;
}

/* Positioning the title in the center and changing the color and the font. */
h1 {
    text-align: center;
    color: paleturquoise;
    font-family: 'Times New Roman', Times, serif;
}

/* Changing the color and font and adding a text-shadow.  */
h2 {
    color: bisque;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-shadow: 5px 5px 5px chocolate;
}

/* Changing the background colour.  */
body {
    background-color: burlywood;
}

/* Changing the font and adding a border and some padding */
ul {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border: 5px solid aliceblue;
    padding: 2em;
}

/* Styling the board-game ID */
#game-board {
    width: 468px;
    height: 468px;
    margin: 0 auto;
    border: 5px solid grey; 
}

/* Styling the individual squares */
.square {
    height: 150px;
    width: 150px;
    border: 5px solid blanchedalmond;
    font-size: 50px;
    text-align: center;
    line-height: 100px;
    cursor: pointer;
    display: inline-block
}